.Instructions {
  padding: 2em;
  line-height: 1.5em;
  height: 95vh;
  overflow-y: scroll;
}

.Instructions h1 {
  margin-bottom: 1em;
  margin-top: .5em;
}

.Instructions h2 {
  margin-bottom: .5em;
}

.Instructions ul {
  padding-left: 2em;
}

.Instructions ol {
  padding-left: 1em;
}
