.ListUserpdfs a {
  cursor: pointer;
}

.ListUserpdfs a:link,
.ListUserpdfs a:visited,
.ListUserpdfs a:active {
  text-decoration: none;
}

.ListUserpdfs a:hover {
  text-decoration: underline;
}

.ListUserpdfs-toggle_active {
  opacity: 1;
}
.ListUserpdfs-toggle_completed {
  opacity: 0.5;
}
