.bigmessage {
  display: block;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #0088cc;
  font-size: 2rem;
  padding-top: 49vh;
  text-align: center;
  text-decoration: none;
}

.wrapper {
  display: flex;
  overflow: hidden;
}

.Pdfviewer-container,
.Addgrantframe-container {
  width: 50vw;
  height: 95vh;
  position: relative;
}

.Pdfviewer-container {
  overflow: scroll;
}

.Topbar-container,
.Bottombar-container {
  width: 100%;
  height: 5vh;
  clear: both;
  background: #0088cc;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.Topbar,
.Bottombar {
  display: flex;
  width: 100%;
}

.Topbar a,
.Topbar a:active,
.Topbar a:visited,
.Bottombar a,
.Bottombar a:active,
.Bottombar a:visited {
  color: #fff;
}

.react-user-tour-close {
  padding: 0 !important;
  margin-right: -.5em;
  margin-top: -.8em;
}